[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"
mood-mud = {file = ".", editable = true}

[dev-packages]
sphinx = "*"
doit = "*"
babel = "*"
build = "*"
flake8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.14"
